<main>
  <div class="profile-container">
    <div class="profile-card">
      <div class="profile-header">
        <div class="avatar">
          <i class="bx bxs-user"></i>
        </div>
        <h1>{{ 'PROFILE.TITLE' | translate }}</h1>
        <p>{{ 'PROFILE.SUBTITLE' | translate }}</p>
      </div>

      <form class="profile-form" (ngSubmit)="onSave()">
        <div class="form-group">
          <label>{{ 'PROFILE.USERNAME_LABEL' | translate }}</label>
          <input type="text" [(ngModel)]="username" name="username" [placeholder]="'PROFILE.USERNAME_PLACEHOLDER' | translate" />
        </div>
        <div class="form-group">
          <label>{{ 'PROFILE.FIRSTNAME_LABEL' | translate }}</label>
          <input type="text" [(ngModel)]="firstName" name="firstName" [placeholder]="'PROFILE.FIRSTNAME_PLACEHOLDER' | translate" />
        </div>
        <div class="form-group">
          <label>{{ 'PROFILE.LASTNAME_LABEL' | translate }}</label>
          <input type="text" [(ngModel)]="lastName" name="lastName" [placeholder]="'PROFILE.LASTNAME_PLACEHOLDER' | translate" />
        </div>
        <div class="form-group">
          <label>{{ 'PROFILE.EMAIL_LABEL' | translate }}</label>
          <input type="email" [(ngModel)]="email" name="email" [placeholder]="'PROFILE.EMAIL_PLACEHOLDER' | translate" />
        </div>
        <div class="form-group">
          <label>{{ 'PROFILE.PHONE_LABEL' | translate }}</label>
          <input type="tel" [(ngModel)]="phone" name="phone" [placeholder]="'PROFILE.PHONE_PLACEHOLDER' | translate" />
        </div>

        <button type="submit" class="save-button">{{ 'PROFILE.SAVE_CHANGES' | translate }}</button>
        <button type="button" class="toggle-cards" (click)="toggleCardManager()">{{ 'PROFILE.MANAGE_CARDS' | translate }}</button>
        <app-card-manager *ngIf="showCardManager" [uid]="uid"></app-card-manager>

        <button type="button" class="toggle-cards" (click)="toggleAddressManager()">{{ 'PROFILE.MANAGE_ADDRESSES' | translate }}</button>
        <app-address-manager *ngIf="showAddressManager" [uid]="uid"></app-address-manager>
        <button type="button" class="toggle-cards" (click)="toggleOrderHistory()">
          Historial de compras
        </button>
        <app-order-history *ngIf="showOrderHistory" [orders]="orders"></app-order-history>

        <button type="button" class="toggle-cards" (click)="toggleDeleteManager()">{{ 'PROFILE.DELETE_ACCOUNT' | translate }}</button>
        <app-delete-account *ngIf="showDeleteManager" [uid]="uid"></app-delete-account>

        <button type="button" class="logout-button" (click)="logout()">{{ 'PROFILE.LOGOUT' | translate }}</button>
      </form>
    </div>
  </div>
</main>
