<div class="card-manager">
  <h3>{{ 'ADDRESS_MANAGER.TITLE' | translate }}</h3>

  <div *ngIf="addresses?.length === 0" class="no-cards">
    {{ 'ADDRESS_MANAGER.NO_ADDRESSES' | translate }}
  </div>

  <ul>
    <li *ngFor="let address of addresses" class="card-item">
      <div class="card-info">
        {{ address.fullAddress }}
      </div>
      <i class='fi fi-rr-edit edit-icon' (click)="startEditingAddress(address)"></i>
      <i class='bx bx-trash delete-icon' (click)="confirmDelete(address)"></i>
    </li>
  </ul>

  <button class="button-cancel-add" type="button" (click)="toggleAddForm()">
    {{ showAddForm ? ('ADDRESS_MANAGER.CANCEL' | translate) : ('ADDRESS_MANAGER.ADD_ADDRESS' | translate) }}
  </button>

  <div class="add-form" *ngIf="showAddForm">
    <div class="input-icon-cards">
      <i class="bx bxs-flag"></i>
      <input type="text" [placeholder]="'ADDRESS_MANAGER.COUNTRY' | translate" [(ngModel)]="pais" required>
    </div>
    <div class="input-icon-cards">
      <i class="bx bxs-map"></i>
      <input type="text" [placeholder]="'ADDRESS_MANAGER.PROVINCE' | translate" [(ngModel)]="provincia" required>
    </div>
    <div class="input-icon-cards">
      <i class="bx bxs-home"></i>
      <input type="text" [placeholder]="'ADDRESS_MANAGER.STREET' | translate" [(ngModel)]="calle" required>
    </div>
    <div class="input-icon-cards">
      <i class="bx bxs-building"></i>
      <input type="text" [placeholder]="'ADDRESS_MANAGER.FLOOR' | translate" [(ngModel)]="piso">
    </div>
    <div class="input-icon-cards">
      <i class="bx bx-font"></i>
      <input type="text" [placeholder]="'ADDRESS_MANAGER.LETTER' | translate" [(ngModel)]="letra">
    </div>
    <div class="input-icon-cards">
      <i class="bx bxs-envelope"></i>
      <input type="text" [placeholder]="'ADDRESS_MANAGER.POSTAL_CODE' | translate" [(ngModel)]="codigoPostal" required>
    </div>

    <button type="button" (click)="addAddress()">{{ 'ADDRESS_MANAGER.SAVE_ADDRESS' | translate }}</button>
  </div>

  <div class="delete-confirmation" *ngIf="showConfirmPopup">
    <div class="popup-delete">
      <p>{{ 'ADDRESS_MANAGER.CONFIRM_DELETE' | translate }}</p>
      <div class="popup-buttons">
        <button (click)="confirmDeleteAddress()">{{ 'ADDRESS_MANAGER.YES_DELETE' | translate }}</button>
        <button class="button-confirm" (click)="cancelDelete()">{{ 'ADDRESS_MANAGER.CANCEL' | translate }}</button>
      </div>
    </div>
  </div>

  <div *ngIf="floatingMessage" class="floating-message" [ngClass]="{'success': floatingSuccess, 'error': !floatingSuccess}">
    {{ floatingMessage }}
  </div>
</div>
