<div class="card-manager">
  <h3>Mis direcciones</h3>

  <div *ngIf="addresses?.length === 0" class="no-cards">
    No has añadido direcciones aún.
  </div>

  <ul>
    <li *ngFor="let address of addresses" class="card-item">
      <div class="card-info">
        {{ address.fullAddress }}
      </div>
      <i class='bx bx-trash delete-icon' (click)="confirmDelete(address)"></i>
    </li>
  </ul>

  <button class="button-cancel-add" type="button" (click)="showAddForm = !showAddForm">
    {{ showAddForm ? 'Cancelar' : 'Añadir dirección' }}
  </button>

  <div class="add-form" *ngIf="showAddForm">
    <div class="input-icon-cards"><i class="bx bxs-flag"></i><input type="text" placeholder="País *" [(ngModel)]="pais" required></div>
    <div class="input-icon-cards"><i class="bx bxs-map"></i><input type="text" placeholder="Provincia *" [(ngModel)]="provincia" required></div>
    <div class="input-icon-cards"><i class="bx bxs-home"></i><input type="text" placeholder="Calle, Número y Localidad o municipio *" [(ngModel)]="calle" required></div>
    <div class="input-icon-cards"><i class="bx bxs-building"></i><input type="text" placeholder="Piso" [(ngModel)]="piso"></div>
    <div class="input-icon-cards"><i class="bx bx-font"></i><input type="text" placeholder="Letra" [(ngModel)]="letra"></div>
    <div class="input-icon-cards"><i class="bx bxs-envelope"></i><input type="text" placeholder="Código postal *" [(ngModel)]="codigoPostal" required></div>

    <button type="button" (click)="addAddress()">Guardar dirección</button>
  </div>

  <div class="delete-confirmation" *ngIf="showConfirmPopup">
    <div class="popup-delete">
      <p>¿Estás seguro de que deseas eliminar esta dirección?</p>
      <div class="popup-buttons">
        <button (click)="confirmDeleteAddress()">Sí, eliminar dirección</button>
        <button class="button-confirm" (click)="cancelDelete()">Cancelar</button>
      </div>
    </div>
  </div>
  <div *ngIf="floatingMessage" class="floating-message" [ngClass]="{'success': floatingSuccess, 'error': !floatingSuccess}">
    {{ floatingMessage }}
  </div>

</div>
