<header>
  <section id="header-navigation">
    <article id="nav-top">
      <div id="logo-searchbar">
        <a id="header-logo" routerLink="/">
          <img src="assets/icons/header/infomarket_logo.png" width="92px" height="92px" alt="">
        </a>
      </div>
      <div id="user-cart">
        <div class="search" #searchBar>
          <input #inputBar class="input" type="text" placeholder="¿Qué estás buscando?..." [(ngModel)]="terminoBusqueda" (keyup.enter)="buscarProducto()" />
          <button class="btn" (click)="toggleSearch()">
            <i class="fi fi-rr-search"></i>
          </button>
        </div>

        <a *ngIf="isAdmin" id="add-product" routerLink="/add-product" title="Añadir producto">
          <i class="fi fi-rr-plus"></i>
        </a>

        <a *ngIf="isLoggedIn" id="wish-list" routerLink="/wish-list" title="Lista de deseos">
          <i class='bx bx-star'></i>
        </a>

        <a id="user" routerLink="/personal-profile"><i class="fi fi-rr-user"></i></a>
        <a id="cart" routerLink="/shopping-cart">
          <i class="fi fi-rr-briefcase-blank"></i>
          <span class="cart-notification" *ngIf="cartItemCount > 0"> {{cartItemCount}}</span>
        </a>
      </div>
    </article>
  </section>
</header>
