<main>
  <article id="product-details">
    <section id="product-details-info">
      <h1 id="product-name">{{product.Nombre}}</h1>
      <p id="product-desc">{{product.Descripcion}}</p>
      <p id="features">Características del producto: </p>
      <hr class = "hr-features">
      <div id="product-features">
        @for (caracteristica of product.Caracteristicas; track product.id) {
          <p>{{caracteristica.name + ": " + caracteristica.value }}</p>
        }
      </div>
      <hr class = "hr-features">
      <p id="product-stock" *ngIf="product">
        Stock:
        <span [ngClass]="{
      'stock-green': product.Stock > 10,
      'stock-orange': product.Stock > 0 && product.Stock <= 7,
      'stock-red': product.Stock === 0
    }">
    {{ getStockMessage() }}
  </span>
      </p>
      <div id="quantity-container">
        <div class="quantity-selector">
          <p id="product-quantity">Cantidad: </p>
          <button class="qty-button" id="minus" (click)="decrementQty()"><i class='bx bxs-minus-circle' ></i></button>
          <p id="qty-value">{{cantidad}}</p>
          <button class="qty-button" id="plus" (click)="incrementQty()"><i class='bx bxs-plus-circle' ></i></button>
        </div>
      </div>
      <p id="final-price" *ngIf="product.Descuento && product.Descuento > 0 && product.Descuento < 100">
        Precio total:
        <span id="price" style="text-decoration: line-through; color: #888;">
    {{ (product.Precio * cantidad).toFixed(2) }} €
  </span>
        <span style="color: red; font-weight: bold; font-size: 1.4em;">
    {{ (getPrecioConDescuento() * cantidad).toFixed(2) }} €
  </span>
      </p>

      <p id="final-price" *ngIf="!product.Descuento || product.Descuento === 0 || product.Descuento >= 100">
        Precio total:
        <span id="price">
    {{ (product.Precio * cantidad).toFixed(2) }} €
  </span>
      </p>
      <hr class = "hr-features">
      <div id="add-to-cart">
        <button type=button id="add-to-cart-button" (click)="shoppingCartService.addToCart(product, cantidad)">Añadir al carrito</button>
      </div>
      <div id="edit-product" *ngIf="isAdmin">
        <button id="edit-product-button" (click)="editProduct()">Editar</button>
      </div>
      <div id="wish-list" *ngIf="isAdmin">
        <button id="wish-list-button">Añadir a deseados</button>
      </div>
    </section>
    <div id="product-image">
      <img id="image" alt="Producto" [src] = product.Imagen>
      <div id="button-arrows">
        <button id="prev-image"><i class='bx bx-chevron-left'></i></button>
        <button id="next-image"><i class='bx bx-chevron-right'></i></button>
      </div>
    </div>
  </article>
</main>
