<main>
  <article id="product-details">
    <section id="product-details-info">
      <h1 id="product-name">{{ product.Nombre }}</h1>
      <p id="product-desc">{{ product.Descripcion }}</p>

      <p id="features">{{ 'PRODUCT_DETAIL.FEATURES_TITLE' | translate }}</p>
      <hr class="hr-features" />

      <div id="product-features">
        <div *ngFor="let caracteristica of product.Caracteristicas; let i = index; trackBy: trackByIndex">
          <p>{{ caracteristica.name }}: {{ caracteristica.value }}</p>
        </div>
      </div>

      <hr class="hr-features" />

      <p id="product-stock" *ngIf="product">
        {{ 'PRODUCT_DETAIL.STOCK' | translate }}:
        <span [ngClass]="{
          'stock-green': product.Stock > 10,
          'stock-orange': product.Stock > 0 && product.Stock <= 7,
          'stock-red': product.Stock === 0
        }">
          {{ getStockMessage() }}
        </span>
      </p>
      <div id="quantity-container">
        <div class="quantity-selector">
          <p id="product-quantity">{{ 'PRODUCT_DETAIL.QUANTITY' | translate }}: </p>
          <button class="qty-button" id="minus" (click)="decrementQty()">
            <i class="bx bxs-minus-circle"></i>
          </button>
          <p id="qty-value">{{ cantidad }}</p>
          <button
            class="qty-button"
            id="plus"
            (click)="incrementQty()"
            [disabled]="cantidad >= product.Stock"
            [ngClass]="{ 'disabled-button': cantidad >= product.Stock }">
            <i class="bx bxs-plus-circle"></i>
          </button>
        </div>
      </div>

      <p id="final-price" *ngIf="product.Descuento && product.Descuento > 0 && product.Descuento < 100">
        {{ 'PRODUCT_DETAIL.TOTAL_PRICE' | translate }}:
        <span id="price" style="text-decoration: line-through; color: #888;">
          {{ (product.Precio * cantidad).toFixed(2) }} €
        </span>
        <span style="color: red; font-weight: bold; font-size: 1.4em;">
          {{ (getPrecioConDescuento() * cantidad).toFixed(2) }} €
        </span>
      </p>

      <p id="final-price" *ngIf="!product.Descuento || product.Descuento === 0 || product.Descuento >= 100">
        {{ 'PRODUCT_DETAIL.TOTAL_PRICE' | translate }}:
        <span id="price">{{ (product.Precio * cantidad).toFixed(2) }} €</span>
      </p>

      <hr class="hr-features" />

      <div id="add-to-cart">
        <button type="button" id="add-to-cart-button" (click)="shoppingCartService.addToCart(product, cantidad)">
          {{ 'PRODUCT_DETAIL.ADD_TO_CART' | translate }}
        </button>
      </div>

      <div id="edit-product" *ngIf="isAdmin">
        <button id="edit-product-button" (click)="editProduct()">
          {{ 'PRODUCT_DETAIL.EDIT' | translate }}
        </button>
      </div>

      <div id="wish-list" *ngIf="isLoggedIn">
        <button id="wish-list-button" (click)="addToWishList()">
          <i class="fi fi-rr-heart"></i> {{ 'PRODUCT_DETAIL.ADD_TO_WISHLIST' | translate }}
        </button>
      </div>
    </section>

    <div id="product-image">
      <img id="image" alt="{{ 'PRODUCT_DETAIL.IMAGE_ALT' | translate }}" [src]="imageUrl" />
      <div id="button-arrows">
        <button id="prev-image"><i class="bx bx-chevron-left"></i></button>
        <button id="next-image"><i class="bx bx-chevron-right"></i></button>
      </div>
    </div>
  </article>

  <section id="product-reviews">
    <h2>{{ 'PRODUCT_DETAIL.REVIEWS_TITLE' | translate }}</h2>

    <div class="reviews-container">
      <div class="media-box">
        <p class="media-label">{{ 'PRODUCT_DETAIL.AVG_SCORE' | translate }}</p>
        <div class="media-stars">
          <i *ngFor="let star of [1,2,3,4,5]" class="bi bi-star-fill" [ngClass]="{ 'checked': star <= puntuacionMedia }"></i>
        </div>
        <p class="media-number">{{ puntuacionMedia.toFixed(1) }}/5</p>
        <p class="media-count">
          {{ 'PRODUCT_DETAIL.BASED_ON' | translate:{ count: product.Valoraciones?.length || 0 } }}
        </p>
        <button
          *ngIf="isLoggedIn && !valorado"
          class="add-review-btn"
          (click)="mostrarModalValoracion()"
        >
          <i class="bi bi-plus-lg"></i>
        </button>
      </div>

      <div class="reviews-wrapper">
        <div *ngIf="product && product.Valoraciones && product.Valoraciones.length > 0; else noReviews">
          <div class="reviews-grid">
            <div class="review-card" *ngFor="let val of product.Valoraciones | slice:0:valoracionesMostradas">
              <div class="review-user">De: {{ val.Usuario || 'Anónimo' }}</div>
              <p class="review-date">{{ val.Fecha | date:'dd/MM/yyyy' }}</p>
              <div class="review-stars">
                <i *ngFor="let star of [1,2,3,4,5]" class="bi bi-star-fill" [ngClass]="{ 'checked': star <= val.Puntuacion }"></i>
              </div>
              <p class="review-comment">“{{ val.Comentario || 'Sin comentario' }}”</p>
              <div class="review-footer" *ngIf="val.uid === obtenerUidUsuario()">
                <div class="review-buttons">
                  <button class="edit-btn" (click)="editarValoracion(val)">Editar</button>
                  <button class="delete-btn" (click)="eliminarValoracion(val)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="ver-mas-container" *ngIf="product && product.Valoraciones && product.Valoraciones.length > valoracionesMostradas">
            <button class="ver-mas-btn" (click)="mostrarMasValoraciones()">
              Ver más valoraciones
            </button>
          </div>
        </div>
      </div>

    </div>

    <ng-template #noReviews>
      <p>{{ 'PRODUCT_DETAIL.NO_REVIEWS' | translate }}</p>
    </ng-template>
  </section>

  <div class="modal-overlay" *ngIf="mostrarModal">
    <div class="modal">
      <h2>Comparte tu experiencia con el producto</h2>
      <div class="rating">
        <i *ngFor="let star of [0,1,2,3,4]; let i = index"
           class="bi bi-star-fill star"
           [ngClass]="{ 'checked': i < valoracion }"
           (click)="seleccionarEstrella(i)">
        </i>
      </div>
      <textarea
        [(ngModel)]="comentario"
        maxlength="200"
        rows="3"
        [placeholder]="'PRODUCT_DETAIL.COMMENT_PLACEHOLDER' | translate"
        class="comentario-textarea">
      </textarea>
      <div class="char-counter">{{ comentario.length }}/200</div>
      <div id="buttons">
        <button id="send" (click)="valorar()">{{ 'PRODUCT_DETAIL.SEND' | translate }}</button>
        <button id="close" (click)="cerrarModal()">{{ 'PRODUCT_DETAIL.CLOSE' | translate }}</button>
      </div>
    </div>
  </div>
</main>
