* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 2rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

#paypal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 30rem;
    height: 100%;
}
