<main>
  <section id="main-title-wrapper">
    <h1 id="main-title">
      {{ getTituloCategoria() | translate }}
    </h1>
    <button id="filter-button" (click)="toggleFilterMenu()">
      <i class='bx bx-filter-alt'></i> {{ 'PRODUCT_LIST.SORT_FILTER' | translate }}
    </button>
  </section>

  <section
    id="filter-menu-wrapper"
    [ngClass]="{
      'visible-filter': isFilterMenuVisible,
      'hidden-filter': !isFilterMenuVisible
    }"
  >
    <ul id="filter-menu">
      <li>
        <label>{{ 'PRODUCT_LIST.SORT_BY' | translate }}</label>
        <select [(ngModel)]="ordenSeleccionado">
          <option value="">{{ 'PRODUCT_LIST.HIGHLIGHTED' | translate }}</option>
          <option value="precioAsc">{{ 'PRODUCT_LIST.PRICE_ASC' | translate }}</option>
          <option value="precioDesc">{{ 'PRODUCT_LIST.PRICE_DESC' | translate }}</option>
          <option value="nombreAsc">{{ 'PRODUCT_LIST.NAME_ASC' | translate }}</option>
          <option value="nombreDesc">{{ 'PRODUCT_LIST.NAME_DESC' | translate }}</option>
          <option value="valoracionAsc">{{ 'PRODUCT_LIST.RATING_ASC' | translate }}</option>
          <option value="valoracionDesc">{{ 'PRODUCT_LIST.RATING_DESC' | translate }}</option>
        </select>
      </li>
      <li>
        <label>{{ 'PRODUCT_LIST.MIN_PRICE' | translate }}</label>
        <input type="number" min="0" [(ngModel)]="precioMin">
      </li>
      <li>
        <label>{{ 'PRODUCT_LIST.MAX_PRICE' | translate }}</label>
        <input type="number" min="0" [(ngModel)]="precioMax">
      </li>
      <li>
        <label>{{ 'PRODUCT_LIST.RATING_ASC' | translate }}</label>
        <input type="number" min="0" max="5" step="0.1" [(ngModel)]="valoracionMin">
      </li>
      <li>
        <label>{{ 'PRODUCT_LIST.RATING_DESC' | translate }}</label>
        <input type="number" min="0" max="5" step="0.1" [(ngModel)]="valoracionMax">
      </li>
      <li>
        <label>{{ 'PRODUCT_LIST.BRAND' | translate }}</label>
        <select [(ngModel)]="marca">
          <option value="">{{ 'PRODUCT_LIST.ALL_BRANDS' | translate }}</option>
          <option *ngFor="let m of marcas" [value]="m.marca">{{ m.marca }}</option>
        </select>
      </li>
      <li>
        <label>{{ 'PRODUCT_LIST.COLOR' | translate }}</label>
        <select [(ngModel)]="color">
          <option value="">{{ 'PRODUCT_LIST.ALL_COLORS' | translate }}</option>
          <option *ngFor="let c of colores" [value]="c.color">{{ 'COLORS.' + c.color | translate }}</option>
        </select>
      </li>
      <ng-container *ngFor="let filtro of filtrosCategoria[categoria] || []">
        <li>
          <label>{{ filtro }}:</label>
          <input type="text" [(ngModel)]="caracteristicas[filtro]">
        </li>
      </ng-container>
    </ul>
    <button id="reset-button" (click)="restablecerFiltros()">
      <i class='bx bx-reset'></i> {{ 'PRODUCT_LIST.RESET' | translate }}
    </button>
    <button id="apply-button" (click)="aplicarFiltros()">
      <i class='bx bx-filter-alt'></i> {{ 'PRODUCT_LIST.APPLY' | translate }}
    </button>
  </section>

  <div>
    <div class="product-grid">
      <app-product
        *ngFor="let product of filteredProducts"
        [product]="product"
        [imageUrl]="product.Imagen"
      ></app-product>
    </div>
  </div>

  <div class="loading-icon" *ngIf="this.isLoading">
    <i class='bx bx-loader-alt bx-spin'></i>
  </div>
</main>
