<div class="order-manager">
  <h3>{{ 'ORDER_MANAGER.TITLE' | translate }}</h3>

  <div *ngIf="orders.length === 0" class="no-orders">
    {{ 'ORDER_MANAGER.NO_ORDERS' | translate }}
  </div>

  <ul id="order-list">
    <li *ngFor="let order of orders" class="order-item">
      <div class="card-item">
        <strong>
          {{ 'ORDER_MANAGER.ARRIVAL' | translate }}: {{ order.arrivalDate }}
          {{ 'ORDER_MANAGER.TOTAL' | translate }}: {{ order.precioTotal }}€
        </strong>
        <ul>
          @for (prod of order.productos; track $index;) {
            @let product = prod.product;
            <li class="order-product">
              {{ product.Nombre }} :
              {{
                product.Descuento
                  ? (product.Precio * (1 - product.Descuento / 100)).toFixed(2)
                  : product.Precio
              }}€ x {{ prod.quantity }}
            </li>
          }
        </ul>
      </div>
    </li>
  </ul>
</div>
