<main>
  <section id="main-title-wrapper">
    <h1 id="main-title" class="hidden">{{ 'HOME.MAIN_TITLE' | translate }}</h1>
    <h2 id="main-description" class="hidden">{{ 'HOME.MAIN_DESCRIPTION' | translate }}</h2>
  </section>

  <video id="main-video" autoplay muted playsinline loop>
    <source src="assets/videos/home/ps5_controller.mp4" type="video/mp4" />
  </video>

  <section id="offers-wrapper">
    <h1 id="offer-title" class="hidden">{{ 'HOME.OFFERS_TITLE' | translate }}</h1>
    <h2 id="offer-description" class="hidden">{{ 'HOME.OFFERS_DESCRIPTION' | translate }}</h2>
  </section>

  <section id="video-wrapper">
    <div class="list" #sliderContainer>
      <video class="offer-videos" autoplay muted loop playsinline>
        <source src="assets/videos/home/laptop.mp4" type="video/mp4" />
      </video>
      <video class="offer-videos" autoplay muted loop playsinline>
        <source src="assets/videos/home/gaming.mp4" type="video/mp4" />
      </video>
      <video class="offer-videos" autoplay muted loop playsinline>
        <source src="assets/videos/home/smartphones.mp4" type="video/mp4" />
      </video>
      <video class="offer-videos" autoplay muted loop playsinline>
        <source src="assets/videos/home/television.mp4" type="video/mp4" />
      </video>
      <video class="offer-videos" autoplay muted loop playsinline>
        <source src="assets/videos/home/fridge.mp4" type="video/mp4" />
      </video>
    </div>

    <div id="overlay" #overlayContainer>
      <h1 *ngFor="let key of overlayTitles">{{ key | translate }}</h1>
    </div>

    <div class="video-buttons">
      <button id="prev">&lt;</button>
      <button id="next">&gt;</button>
    </div>

    <ul class="video-dots">
      <li class="active"></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </section>

  <section class="logos">
    <div class="logo-slider">
      <img src="assets/images/logos/amd.svg" />
      <img src="assets/images/logos/apple.svg" />
      <img src="assets/images/logos/asus.svg" />
      <img src="assets/images/logos/hp.svg" />
      <img src="assets/images/logos/msi.svg" />
      <img src="assets/images/logos/playstation.svg" />
      <img src="assets/images/logos/samsung.svg" />
      <img src="assets/images/logos/xbox.svg" />
    </div>
    <div class="logo-slider">
      <img src="assets/images/logos/amd.svg" />
      <img src="assets/images/logos/apple.svg" />
      <img src="assets/images/logos/asus.svg" />
      <img src="assets/images/logos/hp.svg" />
      <img src="assets/images/logos/msi.svg" />
      <img src="assets/images/logos/playstation.svg" />
      <img src="assets/images/logos/samsung.svg" />
      <img src="assets/images/logos/xbox.svg" />
    </div>
  </section>
</main>
