<article id="product" class="product-info-link" [ngClass]="{ 'no-stock': product.Stock === 0 }">
  <div class="highlighted-icon" *ngIf="product.Destacado">
    <i class="fi fi-ss-fire-flame-curved"></i>
    <label>{{'PRODUCT.HIGHLIGHTED_ICON' | translate}}</label>
  </div>

  <div id="product-image" class="product-info-link">
    <img id="image" [src]="imageUrl" [alt]="product.Nombre" />
  </div>
  <div class="no-stock-overlay" *ngIf="product.Stock === 0">
    {{ 'PRODUCT_CARD.OUT_OF_STOCK' | translate }}
  </div>
  <p id="product-name">{{ product.Nombre }}</p>
  <p id="product-desc">{{ product.Descripcion }}</p>

  <p class="price" *ngIf="product.Descuento && product.Descuento > 0 && product.Descuento < 100">
    <span class="original-price">{{ product.Precio | number:'1.2-2' }}€</span>
    <span class="discounted-price">{{ getPrecioConDescuento(product) | number:'1.2-2' }}€</span>
  </p>

  <p class="price" *ngIf="!product.Descuento || product.Descuento <= 0 || product.Descuento >= 100">
    <span>{{ product.Precio | number:'1.2-2' }}€</span>
  </p>

  <div class="buttons">
    <button id="see" (click)="onSee()">{{ 'PRODUCT_CARD.SEE' | translate }}</button>
    <button id="add-to-cart" (click)="onAddToCart()" [disabled]="product.Stock === 0">
      {{ 'PRODUCT_CARD.ADD_TO_CART' | translate }}
    </button>
  </div>
</article>
