<section id="product-info-component">
  <div id="product-image-component">
    <img id="image" alt="Producto" [src]="product.Imagen" (click)="onSee()" />
  </div>

  <div id="product-info">
    <div id="product-name-component">{{ getTranslatedName()}}</div>
    <div id="product-desc-component">{{ getTranslatedDescription() }}</div>
    <div id="product-stock-component">
      <strong [ngClass]="{
          'stock-green': product.Stock > 10,
          'stock-orange': product.Stock > 0 && product.Stock <= 7,
          'stock-red': product.Stock === 0
        }">
          {{ getStockMessage() }}
        </strong>
    </div>
  </div>

  <div
    id="product-price-component"
    [ngClass]="{ 'discounted': hasDiscount(), 'normal-price': !hasDiscount() }">
    {{ getPrice() }}€
  </div>

  <button id="button-remove" class="qty-button" (click)="onRemove()">
    <i class="bx bxs-trash"></i>
  </button>

  <button id="button-cart" class="qty-button" (click)="onAddToCart()">
    <i class="fi fi-rr-briefcase-blank"></i>
  </button>
</section>
