<div class="card-manager">
  <h3>Mis tarjetas</h3>

  <div *ngIf="cards.length === 0" class="no-cards">
    No has añadido tarjetas aún.
  </div>

  <ul>
    <li *ngFor="let card of cards" class="card-item">
      <div class="card-info">
        <strong>{{ card.brand }}</strong> — {{ '**** **** **** ' + card.cardNumber.slice(-4) }}
        <br>
        <small>Vence: {{ card.expiry }}</small>
      </div>
      <div class="card-actions">
        <div class="card-actions">
          <button class="button-cancel-add" type="button" (click)="copyToClipboard(card, 'pan')">
            {{ card.copied === 'pan' ? '¡PAN copiado!' : 'Copiar PAN' }}
          </button>

          <button class="button-cancel-add" type="button" (click)="copyToClipboard(card, 'expiry')">
            {{ card.copied === 'expiry' ? '¡Vencimiento copiado!' : 'Copiar vencimiento' }}
          </button>

          <button class="button-cancel-add" type="button" (click)="copyToClipboard(card, 'cardholderName')">
            {{ card.copied === 'owner' ? '¡Nombre copiado!' : 'Copiar titular' }}
          </button>
        </div>

      </div>
    </li>
  </ul>



</div>
