<main class="container">
  <h1>{{ 'SUPPORT.TITLE' | translate }}</h1>
  <div class="info-box">
    <p>{{ 'SUPPORT.HELP_TEXT' | translate }}</p>
    <a
      href="mailto:soporte@infomarket.com?subject=Soporte%20Técnico%20InfoMarket&body=Hola,%20necesito%20ayuda%20con..."
      class="support-link">
      {{ 'SUPPORT.CONTACT_LINK' | translate }}
    </a>
    <p class="email-text">
      {{ 'SUPPORT.COPY_EMAIL_TEXT' | translate }}
      <span class="email-address">soporte&#64;infomarket.com</span>
    </p>
  </div>
</main>
