<footer>
  <section id="footer-wrapper">
    <img src="assets/icons/header/infomarket_logo.png" width="128px" height="128px" />

    <article id="about-us">
      <h1>{{ 'FOOTER.ABOUT_US.TITLE' | translate }}</h1>
      <ul id="about-us-list">
        <li><a routerLink="/about-us" class="footer-link">{{ 'FOOTER.ABOUT_US.WHO' | translate }}</a></li>
        <li><a>{{ 'FOOTER.ABOUT_US.WORK' | translate }}</a></li>
        <li><a>{{ 'FOOTER.ABOUT_US.COOKIES' | translate }}</a></li>
        <li><a>{{ 'FOOTER.ABOUT_US.PRIVACY' | translate }}</a></li>
      </ul>
    </article>

    <article id="customer-support">
      <h1>{{ 'FOOTER.SUPPORT.TITLE' | translate }}</h1>
      <ul id="support-list">
        <li><a routerLink="/client-support" class="footer-link">{{ 'FOOTER.SUPPORT.HELP_CENTER' | translate }}</a></li>
        <li><a>{{ 'FOOTER.SUPPORT.ACCOUNT' | translate }}</a></li>
        <li><a>{{ 'FOOTER.SUPPORT.SHIPPING' | translate }}</a></li>
        <li><a>{{ 'FOOTER.SUPPORT.GIFTS' | translate }}</a></li>
      </ul>
    </article>

    <hr />

    <article id="connect-with-us">
      <h1>{{ 'FOOTER.CONNECT.TITLE' | translate }}</h1>
      <div id="social-network-wrapper">
        <a><i class="fi fi-brands-twitter-alt-circle"></i></a>
        <a><i class="fi fi-brands-instagram"></i></a>
        <a><i class="fi fi-brands-facebook"></i></a>
        <a><i class="fi fi-brands-linkedin"></i></a>
        <a><i class="fi fi-brands-youtube"></i></a>
      </div>
    </article>
  </section>

  <section id="copyright-wrapper">
    <p>{{ 'FOOTER.COPYRIGHT' | translate }}</p>
    <ul id="policies-list">
      <a><li>{{ 'FOOTER.POLICIES.PRIVACY' | translate }}</li></a>
      <p>|</p>
      <a><li>{{ 'FOOTER.POLICIES.COOKIES' | translate }}</li></a>
      <p>|</p>
      <a><li>{{ 'FOOTER.POLICIES.TERMS' | translate }}</li></a>
      <p>|</p>
      <a><li>{{ 'FOOTER.POLICIES.REFUNDS' | translate }}</li></a>
      <p>|</p>
      <a><li>{{ 'FOOTER.POLICIES.LEGAL' | translate }}</li></a>
    </ul>
  </section>
</footer>
