<section id="product-info-component">
  <div id="product-image-component">
    <img id="image" alt="Producto" [src]="product.Imagen" (click)="onSee()">
  </div>
  <div id="product-info">
    <div id="product-name-component">{{ product.Nombre }}</div>
    <div id="product-desc-component">{{ product.Descripcion }}</div>
    <div id="product-stock-component"> Cantidad: {{ product.Stock }}</div>
  </div>
  <div id="product-price-component" [ngClass]="{ 'discounted': hasDiscount(), 'normal-price': !hasDiscount() }">
    {{ getPrice() }}€
  </div>
  <button id="button-remove" class="qty-button" (click)="onRemove()">
    <i class='bx bxs-trash'></i>
  </button>

  <button id="button-cart" class="qty-button" (click)="onAddToCart()">
    <i class='fi fi-rr-briefcase-blank'></i>
  </button>

</section>
