<article id="product-details">
  <section id="product-details-info">

    <label for="product-name">Nombre del producto:</label>
    <input type="text" id="product-name" name="product-name" [(ngModel)]="selectedProductName" placeholder="Introduce el nombre del producto">

    <label for="product-desc">Descripción del producto:</label>
    <input type="text" id="product-desc" name="product-desc" [(ngModel)]="selectedDescription" placeholder="Introduce la descripción del producto">

    <label for="category-select">Categoría:</label>
    <select id="category-select" name="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
      <option value="">Selecciona una categoría</option>
      <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
    </select>

    <label for="subcategory-select">Subcategoría:</label>
    <select id="subcategory-select" name="subcategory" [(ngModel)]="selectedSubcategory" (change)="onSubcategoryChange()">
      <option value="">Selecciona una subcategoría</option>
      <option *ngFor="let sub of subcategories" [value]="sub">{{ sub }}</option>
    </select>

    <hr class="hr-features">

    <div id="product-features">
      <label>Características:</label>
      <div *ngFor="let feature of features; let i = index">
        <div class="feature-inputs">
          <input type="text" [(ngModel)]="feature.name" placeholder="Nombre de la característica">
          <input type="text" [(ngModel)]="feature.value" placeholder="Valor de la característica">
        </div>
        <!-- Solo mostrar el botón de eliminar si hay más de 1 característica -->
        <button *ngIf="features.length > 1" (click)="removeFeature(i)">Eliminar</button>
      </div>

      <button type="button" (click)="addFeature()">Añadir característica</button>
    </div>

    <hr class="hr-features">

    <div id="quantity-container">
      <div class="quantity-selector">
        <p id="product-quantity">Cantidad:</p>
        <p id="qty-value">{{ quantity }}</p>
        <button class="qty-button" id="minus" (click)="decreaseQuantity()"><i class='bx bxs-minus-circle'></i></button>
        <button class="qty-button" id="plus" (click)="increaseQuantity()"><i class='bx bxs-plus-circle'></i></button>
      </div>
    </div>

    <label for="price">Precio por unidad (€):</label>
    <input type="number" id="price" name="price" [(ngModel)]="selectedPrice" placeholder="0.00" step="0.01" min="0">

    <hr class="hr-features">

    <label for="imageUpload">Selecciona una imagen del producto:</label>
    <input type="file" id="imageUpload" (change)="onImageSelect($event)" accept="image/*">

    <div *ngIf="imageUploaded">
    </div>

    <hr class="hr-features">

    <div id="add-to-cart">
      <button type="button" id="add-to-cart-button" (click)="saveProduct()">Añadir producto</button>
    </div>

  </section>

  <div id="product-image">
    <img id="image" *ngIf="selectedImageUrl" alt="Producto" [src]="selectedImageUrl">
    <img id="image" *ngIf="!selectedImageUrl" alt="Producto" src="/assets/images/Tiendas-en-las-que-operamos.png">

    <div id="button-arrows">
      <button id="prev-image"><i class='bx bx-chevron-left'></i></button>
      <button id="next-image"><i class='bx bx-chevron-right'></i></button>
    </div>
  </div>
</article>
